@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap');
:root {
  --primary: #fff;
  --onPrimary: #000;
  --primaryLight: rgb(221, 221, 221);
  --secondary: #1d1081;
  --secondaryDark: #0f0844;
  --onSecondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: #fff;
}
/* Styling the area of the slides */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 700px;
  margin: 0 auto;
}

/* slide */
.slide {
  float: left;
  height: 510px;
  width: 700px;
}

/* Add animation slides */
.slide-wrapper {
  /* Calculate */
  width: calc(700px * 4);

  animation: slide 10s ease infinite;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-728px * 1);
  }

  60% {
    margin-left: calc(-728px * 2);
  }

  80% {
    margin-left: calc(-728px * 3);
  }
}
/*-------------------page head title-----------------*/
.title {
  background-color: rgb(37, 221, 0);
  padding: 15px;
  margin-bottom: 20px;
}
.title h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  font-size: 50px;
  color: white;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  padding-bottom: 5px;
}

.title h1 em {
  font-style: normal;
  font-weight: 600;
}
/*---------- app contnet ----------*/
.app-content {
  padding: 15px 20px 20px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*----------------- [ TOP NAV ]----------------*/

header {
  padding: 10px 15px 10px 15px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--primaryLight);
}

.logo {
  color: teal;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo img {
  height: 80px;
  width: 80px;
}

#menu {
  display: flex;
  align-items: center;
}
#menu li {
  position: relative;
  display: inline;
  float: left;
  padding: 10px;
  /*width: 140px;*/
  min-width: 140px;
  text-align: center;
  background-color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}
#menu li.active {
  background-color: var(--secondary);
}
#menu li.active > a {
  color: var(--onSecondary);
}
#menu > li:not(:last-child) {
  border-right: 0;
}
#menu li a {
  text-decoration: none;
  color: var(--onPrimary);
}
.submenu {
  display: none;
  position: absolute;
  top: 39px;
  left: 0px;
  border-bottom: 1px solid var(--primaryLight);
  z-index: 100;
}

.submenu li {
  border-top: 0 !important;
}

#menu li:hover .submenu {
  display: block;
}

.about p {
  margin-bottom: 20px;
}




/*-----------------footer -------------------*/

.app-footer-auther{
  width: 100%;
  background: rgb(37, 221, 0);
}
.app-footer-auther .app-footer-auther-text-wrapper{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.app-footer-auther .app-footer-auther-text-wrapper span,
.app-footer-auther .app-footer-auther-text-wrapper a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.app-footer-auther .app-footer-auther-text-wrapper a:hover{
  opacity: 1;
  text-decoration: underline;
}
.app-footer-auther .app-footer-auther-text-wrapper a{
  margin-right: 10px;
}

@media (max-width: 700px){
  
  .app-footer-auther .app-footer-auther-text-wrapper span,
  .app-footer-auther .app-footer-auther-text-wrapper a{
    font-size: 12px;
  }
}


/* art of sigiriya*/
.art-of-sigiriya,
.etec-of-sigiriya,
.about-sigiriya,
.history-of-sigiriya {
  padding: 30px;
  border: 1px solid var(--primaryLight);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: orange;
}

.art-of-sigiriya .head,
.etec-of-sigiriya .head,
.history-of-sigiriya .head {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: var(--onPrimary);
  margin-bottom: 20px;
}
.art-of-sigiriya p,
.etec-of-sigiriya p,
.about-sigiriya p,
.history-of-sigiriya p{
  font-family: 'Bebas Neue', cursive;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  color: var(--onPrimary);
  margin-bottom: 20px;
}
.art-of-sigiriya .gallery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-of-sigiriya .gallery-box .row div img {
  height: 150px;
  width: 200px;
  transition: all 0.5s ease-in;
}
.art-of-sigiriya .gallery-box .row div:hover img {
  transform: rotate(0deg) scale(2);
}
.art-of-sigiriya .gallery-box .row {
  display: flex;
}
.art-of-sigiriya .gallery-box .row div {
  margin: 10px;
  cursor: pointer;
}

/*etec-of-sigiriya*/

.etec-of-sigiriya img {
  height: 400px;
  width: 100%;
}
/*history-of-sigiriya */
.history-of-sigiriya img {
  float: left;
  height: 150px;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.history-of-sigiriya p {
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  color: var(--onPrimary);
  margin-bottom: 20px;
  padding: 0px 0px 10px 10px;
  padding-top: 0px;
}

/*======= Mobile screen ui ======*/
@media only screen and (max-width: 600px) {
  .app-content {
    padding: 15px;
  }
  .title h1 {
    font-size: 25px;
  }
  .history-of-sigiriya .square {
    display: flex;
    flex-direction: column;
  }
  .history-of-sigiriya .square img {
    width: 100%;
    height: auto;
  }
  .art-of-sigiriya .gallery-box .row div img {
    width: 150px;
    height: 100px;
  }
  .history-of-sigiriya p {
    padding: 0;
  }
  .etec-of-sigiriya img {
    height: auto;
  }

  header {
    padding: 10px;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: none;
  }
  header a {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  header #menu {
    border-top: 1px solid var(--primaryLight);
    border-bottom: 1px solid var(--primaryLight);
    padding-top: 10px;
    flex-wrap: wrap;
  }
  header #menu li {
    width: 30%;
  }
}
